.App {
  text-align: center;
}

.ResearchOptions {
  display: inline-block;
}

.CharacterHeader {
  border-style: solid;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.CharacterName {
  margin-left: 5px;
}

.LevelUpButton {
  margin-right: 5px;
}